.admin-container {
  display: flex;
  .pro-sidebar {
    .pro-sidebar-inner {
      .pro-sidebar-layout {
        height: 100vh;
      }
    }
  }
  .admin-content {
    width: 100%;
    .admin-header {
      display: flex;
      height: 60px;
      border-bottom: 2px solid rgb(199, 207, 199);
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 10px;
      .leftside {
        cursor: pointer;
        font-size: 20px;
        color: purple;
      }
      .rightside {
        display: flex;
        gap: 15px;
      }
    }
    .admin-main {
      margin-bottom: 10px;
      height: calc(100vh - 50px);
    }
  }
}
