.admin-container {
  display: flex;
  .pro-sidebar {
    .pro-sidebar-inner {
      .pro-sidebar-layout {
        height: 100vh;
      }
    }
  }
  .admin-content {
    width: 100%;
    .admin-header {
      height: 40px;
      border: 2px solid green;
    }
    .admin-main {
    }
  }
}
