.questions-container {
  padding: 15px;

  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .questions-content {
    display: flex;
    gap: 25px;
    .description {
      width: 50%;
    }
    .group-upload {
      padding-top: 15px;
      .label-up {
        margin-right: 5px;
        cursor: pointer;
        color: rgb(121, 9, 226);
        font-size: 25px;
        &:hover {
          color: rgb(55, 12, 211);
        }
      }
    }
    .btn-add {
      padding-top: 15px;
      .icon-add {
        font-size: 25px;
        color: rgb(20, 147, 231);
        cursor: pointer;
        &:hover {
          color: rgb(90, 10, 219);
        }
      }
      .icon-remove {
        margin-left: 10px;
        font-size: 25px;
        color: rgb(226, 114, 9);
        cursor: pointer;
        &:hover {
          color: rgb(238, 80, 7);
        }
      }
    }
  }
  .answers-content {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;

    .isCorrect {
      font-size: 20px;
    }
    .answers-name {
      width: 46.3%;
    }
    .btn-group {
      .icon-add {
        font-size: 25px;
        color: rgb(20, 147, 231);
        cursor: pointer;
        &:hover {
          color: rgb(90, 10, 219);
        }
      }
      .icon-remove {
        margin-left: 10px;
        font-size: 25px;
        color: rgb(226, 114, 9);
        cursor: pointer;
        &:hover {
          color: rgb(117, 7, 219);
        }
      }
    }
  }
}
