.manage-user-container {
  padding: 10px;
  .user-content {
    .img-preview {
      border: 1px solid #d6113c;
    }
    .btn-add-new {
      margin: 15px 0;
    }
  }
  .title {
    font-weight: 600;
    font-size: 20px;
  }
}

.model-add-user {
  .img-preview {
    border: 1px dashed #d6113c;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .label-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #d6113c;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    background: #eeeeee;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #dcdcdc;
    }
  }
}
