body {
  padding: 0px;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px !important;
  }
}
.app-container {
  .header-container {
    .btn-login {
      margin-right: 10px;
      background-color: transparent;
      border: 1px solid rgb(31, 13, 192);
      padding: 0 15px;
      border-radius: 5px;
      height: 40px;
    }
    .btn-signup {
      margin-right: 10px;
      background-color: black;
      border: 1px solid rgb(31, 13, 192);
      padding: 0 13px;
      border-radius: 5px;
      color: white;
      height: 40px;

      &:hover {
        background-color: rgb(31, 13, 192);
      }
    }
    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: blueviolet;
        }
      }
    }
  }
  .homepage-container {
    .homepage-content {
      margin-top: 70px;
      padding: 100px;
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title-1 {
        font-size: 50px;
        font-weight: 600;
      }
      .title-2 {
        font-size: 35px;
      }
      .title-3 {
        button {
          background-color: black;
          border: 1px solid rgb(31, 13, 192);
          padding: 0 13px;
          border-radius: 5px;
          color: white;
          height: 40px;

          &:hover {
            background-color: rgb(31, 13, 192);
          }
        }
      }
    }
  }
}
video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
